
/* .carousel{
    width: 100%;
}

.carousel-caption{
    top: 80%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-item{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
} */

.navbar{
    background-color: #e9bd15 ;
}